<!doctype html>
<html>
  <head>
  </head>
  <body>
    <p>You have recieved an email through the websites Contact form, the email is from: <%= "#{@name}" %>, the reply to email address is: <%= "#{@email}" %></p>
    <p><%= @body %></p>
  </body>
</html>